<script src="/javascripts/home.js"></script>
<link rel="stylesheet" href="/stylesheets/home.css" />

<script type="text/x-jquery-tmpl" id="restaurantTemplate">
  <li class="restaurant">
    <a href="/card/create/${_id}" data-transition="slide">
      <h3>${data.name}</h3>
      <p>Get ${description} when after you and your friends go here 10 times</p>
    </a>
  </li>
</script>

<div class="content-primary">
  <ul id="cards" data-role="listview">
    <li data-role="list-divider">Your cards (tap to punch)<span class="ui-li-count">{{cards.length}}</span></li>
    {{#each cards}}
      <li class="card">
        <a href="/punch/{{_id}}" data-transition="slide">
          <h3 class="rName">{{restaurantName}}</h2>
          <p class="">{{description}} after {{clipsRequired - clipCount}} more punches</p>
        </a>
      </li>
    {{/each}}
  </ul>
  <ul id="restaurants" data-role="listview">
    <li data-role="list-divider">Restaurants near you <span class="ui-li-count" id="bountyCount"></span></li>
  </ul>
</div>
