<script type="text/javascript" src="/javascripts/punchpage.js"></script>
<h3>Photos</h3>
<div class="gallery">
  {{#if punched}}
    <p>Thanks for punching in, you need {{card.clipsRemaining}} more punches</p>
  {{else}}
    <p>You need {{card.clipsRemaining}} more punches</p>
  {{/if}}
  {{#each card.clips}}
    <img src="{{image}}" width="100" />
  {{/each}}
</div>

{{#unless punched}}
  <form id="submitPhoto" method="POST" name="punchform" enctype="multipart/form-data" action="/punch/{{card._id}}/clip/{{user._id}}">
    <div class="submitphoto">
      <input name="photo" type="file" accept="image/*" capture="camera" id="userPhoto"></input>

      <input type="submit" data-role="button" value="Punch"/>
    </div>
  </form>
{{/unless}}

{{#if punched}}
  <a data-role="button" href="/home">See my other cards</a>
{{/if}}

{{card._id}}
